# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/
DerivedData/
build/

# Swift Package Manager
.swiftpm/
.build/

# Firebase
GoogleService-Info.plist

# macOS
.DS_Store