<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803321539283-8vj0rq1l6imv6qhk61v5887nt2sgahc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803321539283-8vj0rq1l6imv6qhk61v5887nt2sgahc7</string>
	<key>API_KEY</key>
	<string>AIzaSyApwYRAwvKnpn2qRtoy2hMcYsn46wXPTKk</string>
	<key>GCM_SENDER_ID</key>
	<string>803321539283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutormateai.tutormate</string>
	<key>PROJECT_ID</key>
	<string>tutor-mate-476113</string>
	<key>STORAGE_BUCKET</key>
	<string>tutor-mate-476113.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803321539283:ios:fc1704c2bf9a3291eac226</string>
</dict>
</plist>